<%- include("../partials/userheader") %>
<head>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
        <div class="content">
            <div class="manage-heading">
                <div class="singleform">

                    <% if(users.length>0) { %>
                    <table>
                        <h1>MANAGE USER</h1>
                        <div class="search-form">
                            <input type="text" placeholder="Search..">
                                <button type="submit"> SEARCH </button>
                            <h1>Seach by : </h1>
                            <a href="#">ADMIN</a>
                            <a href="#">GENERAL USER</a>
                            <a href="#">MEMBERSHIP</a>
                            <a href="#">ALL USER</a>
                        </div>

                        <colgroup>
                          <col style="width: 0%;">
                          <col style="width: 80px;">
                          <col style="width: 100px;">
                          <col style="width: 50px;">
                          <col style="width: 50px;">
                          <col style="width: 50px;">
                        </colgroup>

                        <tr>
                            <th class="col1" style="text-align: center;">NO.</th>
                            <th class="col2">USERNAME</th>
                            <th class="col3">EMAIL</th>
                            <th class="col4">STATUS</th>
                            <th style="text-align: center;">VIEW</th>
                            <th style="text-align: center;">DELETE</th>
                        </tr> 
                        
                        <% for(var i=1; i<users.length;i++) { %>
                            <tr>
                                <td style="width: 0px; text-align: center;"><%= i %></td>
                                <td style="width: 0px; "><%= users[i].username.charAt(0).toUpperCase()+ users[i].username.slice(1) %></td>
                                <td style="width: 0px;"><%= users[i].email %></td>
                                <td style="width: 0px;"><%= users[i].status.charAt(0).toUpperCase()+ users[i].status.slice(1) %></td>
                                <td style="width: 0px; text-align: center;">
                                    <a href="/admin/view/<%= users[i]._id %>" class="btn-admin"><i class="fas fa-eye"></i></a>
                                </td>

                                <% if(users[i].status != 'admin') { %>
                                <td style="width: 0px; text-align: center;">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        <a href="/admin/delete/<%= users[i]._id %>">DELETE</a>
                                    </button>
                                      
                                      <!-- Modal -->
                                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              ...
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a href="/admin/delete/<%= users[i]._id %>">DELETE</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div> 
                                </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </table> 
                    <% } else { %>
                        <h1><center>Not Found</center></h1>
                    <% } %>
                </div>
            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>