<%- include("../partials/userheader") %>
    <head>
        <link rel="stylesheet" href="/stylesheets/admin.css">
    </head>
    <div style="min-height: 100vh;">
        <div class="content">
            <div class="form row project">

                <% resume.reverse().forEach(function(resume) { %>
                    <% var userid1 = user._id.toString(); var userid2 = resume.userid.toString(); %>
                    <% if( userid1 === userid2 ){%>
                        
                            <div class="col-12 col-md-4">
                                <div class="single-blog">
                                    <div class="projectfield">
                                        <% if (resume.template == 'default1') { %>
                                            <img src="https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:80%;">
                                        <% } %>
                                        <% if (resume.template == 'default2') { %>
                                            <img src="https://images.pexels.com/photos/1175136/pexels-photo-1175136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:80%;">
                                        <% } %>
                                        <% if (resume.template == 'default3') { %>
                                            <img src="https://images.pexels.com/photos/2343170/pexels-photo-2343170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:80%">
                                        <% } %>
                                        <% if (resume.template == 'default4') { %>
                                            <img src="https://images.pexels.com/photos/4397919/pexels-photo-4397919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:80%">
                                        <% } %>
                                        <p><%= resume.nameproject %></p>
                                        <p style="font-size: 12px; color: lightslategray;">Create at : <%= resume.created.toLocaleDateString('en-TH') %></p>
                                        <a href="/admin/showproject/<%= resume._id %>" class="btn">Open</a> 
                                    </div>
                                </div>
                            </div>
                <% }}) %>
<% if(resume.length > 0) { %>  
                        <% } else { %>
                            <h1><center>User hasn't created any project.</center></h1>
                        <% } %>
            </div>
        </div>
    </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>
