<%- include("../partials/userheader") %>
    <head>
        <link rel="stylesheet" href="/stylesheets/admin.css">
    </head>
        <div class="content">
            <div class="form">
                <div class="profile-heading">
                    <br><br>
                    <h1 style="text-transform: uppercase;"><%= users.username %></h1> 
                    <img src="https://cdn0.iconfinder.com/data/icons/professional-avatar-5/48/manager_male_avatar_men_character_professions-512.png" alt="Avatar">
                    <br> <br>

                    <table class="my-profile">
                        <tr>
                            <th>ID</th>
                            <td style="text-transform: uppercase;"><span id="pf-first"><%= users._id %></span></td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td><span id="pf-first"><%= users.firstname.charAt(0).toUpperCase()+ users.firstname.slice(1) %></span>&nbsp;&nbsp;<span id="pf-last"><%= users.lastname.charAt(0).toUpperCase()+ users.lastname.slice(1) %></span></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td id="pf-status"><% if(users.status == 'membership') { %> <i class="fas fa-crown"></i> <% } %><% if(users.status != 'membership') { %> <i class="fas fa-user"></i> <% } %>&nbsp;&nbsp;<%= users.status.charAt(0).toUpperCase()+ users.status.slice(1) %></td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td id="pf-username"><%= users.username.charAt(0).toUpperCase()+ users.username.slice(1) %></td>
                        </tr>
                        <tr>
                            <th>Email address</th>
                            <td id="pf-email"><%= users.email %></td>
                        </tr>
                    </table><br><br>
                    
                    
                    <a href="/admin/manage-user"><i class="fas fa-chevron-left"></i>  BACK</a> &nbsp;
                    <a href="/admin/show/<%= users._id %>"><i class="far fa-file"></i>  SHOW PROJECT</a>
                    
                    <br><br><br>
                </div>
            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>
