<%- include("../partials/projectheader") %>
<head>
    <link rel="stylesheet" href="/stylesheets/<%= resume.template %>.css">
</head>
        <div class="outer-wrapper">
            <div class="wrapper">

                <div id="slideone">
                    <div class="slide one">
                        
                        <div class="header-port"><span>“</span>&nbsp; PERSONAL PARTICULAR</div>

                        <div class="portfolio-items">
                            
                                <div class="front">
                                    <div class="portfolio-img">
                                        <div class="profile-pic"><img src="../uploads/<%= resume.picprofile %>" alt="Avatar" style="height: 100%;"></div>
                                    </div> 
                                </div>

                                <div class="back">
                                    <div class="portfolio-description">
                                        <h1>Hi,</h1>
                                        <div class="group-name">
                                            <div id="name">I'm <%= resume.Fname %>&nbsp;<%= resume.Lname %>,</div>
                                        </div>
                                        <div class="group-details">
                                            <div id="job"><%= resume.position %>,</div>
                                        </div>
                                        <div class="group-details">
                                            <div id="nation">I'm <%= resume.nationality %>.</div>
                                        </div>
                                        <div class="group-details">
                                            <div id="introduce"><%= resume.introduce %></div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div id="slidetwo">
                    <div class="slide two">
                        <div class="header-port"><span>“</span>&nbsp;EDUCATION BACKGROUND</div>

                        <div class="portfolio-contents">
                            
                            <div class="front">
                                <div class="portfolio-education">
                                    <div class="group-spread">
                                        <div id="school"><i class="fas fa-plane"></i>&nbsp;<%= resume.highschool %></div>
                                    </div>
                                    <div class="group-spread">
                                        <div id="college"><i class="fas fa-plane"></i>&nbsp;<%= resume.college %></div>
                                    </div>
                                    <div class="group-spread">
                                    <div id="major"><i class="fas fa-plane"></i>&nbsp;<%= resume.major %></div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="back">
                                <div id="gpax"><span>“</span>&nbsp;<%= resume.gpax %>&nbsp;<span>”</span></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="slidethree">
                    <div class="slide three"><!--&nbsp;SKILLS-->
                        <div class="header-port"><span>“</span>SKILLS</div>

                        <div class="portfolio-contents">
                            <div class="front">
                                <div class="portfolio-skills">
                                    <h1 style="text-align: right;">SKILLS</h1> <br>
                                    <ul>
                                        <li>
                                            <div class="nameskill">
                                                <div id="skill1"><%= resume.skill[0] %></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nameskill">
                                                <div id="skill2"><%= resume.skill[1] %></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nameskill">
                                                <div id="skill3"><%= resume.skill[2] %></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nameskill">
                                                <div id="skill4"><%= resume.skill[3] %></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nameskill">
                                                <div id="skill5"><%= resume.skill[4] %></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!--another skill use js-->
                                </div>
                            </div>

                            <div class="back">
                                <div class="portfolio-skill-level">
                                    <h1>LEVEL</h1><br>
                                    <ul>
                                        <% for(let j = 0; j < 5; j++) { %>
                                        <li>
                                            <div class="levelskill">
                                                <% let level = resume.level[j] %>
                                                <% for(let i = 1; i <= level; i++) { %>
                                                    <i class="fas fa-cube"></i>&nbsp;
                                                <% } %>
                                            </div>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="slidefour">
                    <div class="slide four">
                        <div class="header-port"><span>“</span>&nbsp;EXPERIENCE</div>

                        <div class="portfolio-contents">
                            
                            <div class="portfolio-exp">
                                <table>
                                    <colgroup>
                                        <col style="width: 350px;">
                                        <col style="width: 300px;">
                                        <col style="width: 150px;">
                                    </colgroup>
                                    <tr>
                                        <th class="expstyle">EXPERIENCE</th>
                                        <th>PLACE</th>
                                        <th>YEAR</th>
                                    </tr>
                                    <% for(let i = 0; i < 5; i++) { %>
                                    <tr>
                                        <div class="groupexp1">
                                            <td><div id="exp" class="expstyle"><%= resume.exp[i] %></td>
                                            <td><div id="place"><%= resume.place[i] %></div></td>
                                            <td><div id="year"><%= resume.year[i] %></div></td>
                                        </div>
                                    </tr>
                                    <% } %>
                                    
                                    <!--another experience use js-->
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="slidefive">
                    <div class="slide five">
                        <div class="header-port"><span>“</span>&nbsp;CONTACT ME<br>
                            <div id="email">
                                <i class="far fa-envelope"></i>&nbsp;<%= user.email %>
                            </div>
                        </div>
                        
                        <div class="portfolio-contents">
                            
                            <div class="portfolio-contact">
                                <ul>
                                    <li><div id="facebook"><a href="<%= resume.fb %>"><i class="fab fa-facebook-square"></i></a></div></li>
                                    <li><div id="line"><a href="<%= resume.line %>"><i class="fab fa-line"></i></a></div></li>
                                    <li><div id="instagram"><a href="<%= resume.ig %>"><i class="fab fa-instagram"></i></a></div></li>
                                    <li><div id="twitter"><a href="<%= resume.twitter %>"><i class="fab fa-twitter-square"></i></a></div></li>
                                </ul>
                                <!--it's gonna be icon click link-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include("../partials/indexfooter") %>
