<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto:wght@700&family=Galada&family=Martel:wght@700&family=Parisienne&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/styles.css' />
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <link rel='stylesheet' href='/stylesheets/index.css' />
    </head>
    
    <body>
            <div class="menu-toggler">
                <div class="bar half start"></div>
                <div class="bar"></div>
                <div class="bar half end"></div>
            </div>
            <nav class="top-nav">
                <div class="nav-list container">
                    <div class="row">
                        <div class="col">
                            <a href="/project/<%= resume._id %>/#slideone" class="nav-link">Personal Particular</a>
                        </div>
                        <div class="col">
                            <a href="/project/<%= resume._id %>/#slidetwo" class="nav-link">Education Background</a>
                        </div>
                        <div class="col">
                            <a href="/project/<%= resume._id %>/#slidethree" class="nav-link">Personal Skills</a>
                        </div>
                        <div class="col">
                            <a href="/project/<%= resume._id %>/#slidefour" class="nav-link">Experience</a>
                        </div>
                        <div class="col">
                            <a href="/project/<%= resume._id %>/#slidefive" class="nav-link">Contact Me</a>
                        </div>
                        <br><br><br>
                        <div class="col">
                            <a href="/portfolio/" class="nav-link" style="font-size: 14px;"><i class="fas fa-home"></i> Home</a>
                            <a href="/project/form-field/<%= resume._id %>" class="nav-link" style="font-size: 14px;"><i class="fas fa-edit"></i> Edit</a>
                        </div>
                        
                        
                    </div>
                </div>
            </nav>
        
        
        