<%- include("../partials/userheader") %>
    <head>
        <link rel="stylesheet" href="/stylesheets/admin.css">
    </head>
        <div class="content">
            <div class="form row project">

                <% resume.reverse().forEach(function(resume) { %>
                    <% var userid1 = user._id.toString(); var userid2 = resume.userid.toString(); %>
                    <% if( userid1 === userid2 ){%>
                    <div class="col-12 col-md-4">
                        <div class="single-blog">
                            <div class="projectfield">
                                <% if (resume.template == 'default1') { %>
                                    <img src="https://wallpaperaccess.com/full/398864.jpg" alt="Avatar" style="width:80%;">
                                <% } %>
                                <% if (resume.template == 'default2') { %>
                                    <img src="https://cdn.wallpapersafari.com/9/46/exr8gI.jpg" alt="Avatar" style="width:80%;">
                                <% } %>
                                <% if (resume.template == 'default3') { %>
                                    <img src="https://mocah.org/uploads/posts/4515299-japan-tokyo-street-building-bicycle-crosswalk-digital-art-house-sign-clouds-sky-car-stores-sunset.jpg" alt="Avatar" style="width:80%">
                                <% } %>
                                <p><%= resume.nameproject %></p>
                                <p style="font-size: 12px; color: lightslategray;">Create at : <%= resume.created.toLocaleDateString('en-TH') %></p>
                                <a href="/admin/showproject/<%= resume._id %>" class="btn">Open</a> 
                            </div>
                        </div>
                    </div>
                <% }}) %>

            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>
