<%- include("../partials/userheader") %>
<head>
    
</head>
    <div class="content">
        <div class="form">
            <div class="singleform">
                <div id="heading1" ><p>PROFILE PARTICULARS</p></div>
                <div id="heading2" hidden><p>UPLOAD YOUR FILE</p></div>
                <div id="heading3" hidden><p>CHOOSE YOUR TEMPLATE WEBSITE</p></div>

                <div id="stepProgressBar">
                    <div class="step">
                        <i class="fas fa-edit"></i>
                        <p class="step-text">PROFILE</p>
                        <div class="bullet"></div>
                    </div>
                    <div class="step">
                        <i class="fas fa-file-upload"></i>
                        <p class="step-text">UPLOAD</p>
                        <div class="bullet"></div>
                    </div>
                    <div class="step">
                        <i class="far fa-window-restore"></i>
                        <p class="step-text">TEMPLATE</p>
                        <div class="bullet "></div>
                    </div>
                    <br> 
                </div>
                
            <form action="/project/form-field/<%= _id %>" method="POST" class="form-field" enctype="multipart/form-data">
                <div id="profile-form">
                <table>
                        <p>(PART : 1) PERSONAL</p>
                        <tr>
                            <th>NAME</th>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="text" name="Fname" placeholder="Firstname" value="<%= resume.Fname %>">&nbsp;&nbsp;
                                    <input type="text" name="Lname" placeholder="Lastname" value="<%= resume.Lname %>">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Position</th>
                            <td class="form-box">
                                <input type="text" name="position" placeholder="Student, Designer etc." value="<%= resume.position %>">
                            </td>
                        </tr>
                        <tr>
                            <th>NATIONALITY</th>
                            <td class="form-box">
                                <input type="text" name="nationality" placeholder="Nationality" value="<%= resume.nationality %>">
                            </td>
                        </tr>
                        <tr>
                            <th><label for="introduce">Introduce</label></th>
                            <td class="form-radio">
                                <textarea value="<%= resume.introduce %>" id="introduce" name="introduce" rows="4" cols="60" style="font-size: 14px; padding: 2% 2%;" placeholder="Applied Computer Science, &#10;Department of Mathematics, &#10;Faculty of Science, KMUTT"></textarea>
                            </td>
                        </tr>
                    </table><br>

                    <table>
                        <p>(PART : 2) EDUCATIONAL</p>
                        <tr>
                            <th>HIGH SCHOOL</th>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="text" name="highschool" placeholder="HIGH SCHOOL" value="<%= resume.highschool %>">
                                </div>
                            </td>
                        </tr> 
                        <tr>
                            <th>COLLEGE / UNIVERSITY</th>
                            <td class="form-box">
                                <input type="text" name="college" placeholder="College / University" value="<%= resume.college %>">
                            </td>
                        </tr>
                        <tr>
                            <th>MAJOR</th>
                            <td class="form-box">
                                <input type="text" name="major" placeholder="Major" value="<%= resume.major %>">
                            </td>
                        </tr>
                        <tr>
                            <th>GPAX</th>
                            <td class="form-box">
                                <input type="text" name="gpax" placeholder="GPAX (max : 4.00)" value="<%= resume.gpax %>">
                            </td>
                        </tr>
                    </table><br>

                    <table>
                        <p>(PART : 3) SKILLS</p>
                        <tr>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="text" name="skill" placeholder="skill">&nbsp;&nbsp;
                                    <input type="number" min="1" max="5" placeholder="level (max : 5)">
                                </div>
                            </td>
                        </tr>
                        <tr id="add-skill"></tr>
                    </table>

                    <div class="btn">
                        <button id="addskillBtn">ADD SKILL</button>
                    </div><br>

                    <table>
                        <p>(PART : 4) EXPERIENCE</p>
                        <tr>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="text" placeholder="experience">&nbsp;&nbsp;
                                    <input type="text" name="exp" placeholder="place">
                                </div>
                            </td>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="text" name="year" placeholder="year">
                                </div>
                            </td>                                
                        </tr> 
                        <tr id="add-exp">
                            <td class="form-box" id="expfield"></td> 
                            <td class="form-box" id="yearfield"></td> 
                        </tr>
                    </table>   
                    
                    <div class="btn">
                        <button id="addexpBtn">ADD EXPERIENCE</button>
                    </div><br>
                    

                    <table>
                        <p>(PART : 5) CONTACT ME</p>
                        <tr>
                            <th>EMAIL</th>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="email" placeholder="example@mail.com"  value="<%= resume.email %>">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>FACEBOOK</th>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="url" name="fb" placeholder="url"  value="<%= resume.fb %>">
                                </div>
                            </td>
                        </tr> 
                        <tr>
                            <th>LINE</th>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="url" name="ig" placeholder="url"  value="<%= resume.line %>">
                                </div>
                            </td>
                        </tr> 
                        <tr>
                            <th>INSTAGRAM</th>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="url"name="line" placeholder="url"  value="<%= resume.ig %>">
                                </div>
                            </td>
                        </tr> 
                        <tr>
                            <th>TWITTER</th>
                            <td class="form-box"> 
                                <div class="input-group">
                                    <input type="url" name="twitter" placeholder="url"  value="<%= resume.twitter %>">
                                </div>
                            </td>
                        </tr> 
                        
                    </table></div><br>

                    <div id="upload-form" hidden>
                        <div id="add-upload-form">
                            <div class="upload-item">
                                <table> <br>
                                    <tr>
                                        <th><p>Profile</p></th>
                                        <td>
                                            <input type="file" id="myFile" name="picprofile" accept="image/*">
                                        </td>
                                    </tr>
                                    <!--
                                    <tr>
                                        <th><p>Part 2</p></th>
                                        <td>
                                            <input type="file" id="myFile" name="filename" accept="image/*">
                                            <input type="submit" id="submitBtn"><br><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><p>Part 3</p></th>
                                        <td>
                                            <input type="file" id="myFile" name="filename" accept="image/*">
                                            <input type="submit" id="submitBtn"><br><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><p>Part 4</p></th>
                                        <td>
                                            <input type="file" id="myFile" name="filename" accept="image/*">
                                            <input type="submit" id="submitBtn"><br><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><p>Part 5</p></th>
                                        <td>
                                            <input type="file" id="myFile" name="filename" accept="image/*">
                                            <input type="submit" id="submitBtn"><br><br>
                                        </td>
                                    </tr>-->
                                </table>
                                
                            </div>
                        </div>
                    </div>

                    <div class="template" id="template-form" hidden>
                        
                        <label>
                            <input type="radio" name="template" value="default1" required="required" checked>
                            <div class="def1 pp">
                                <span>DEFAULT 1</span>
                            </div>
                        </label>
                        
                        <label>
                            <input type="radio" name="template" value="default2" required="required"/>
                            <div class="def2 pp">
                                <span>DEFAULT 2</span>
                            </div>
                        </label>

                        <label>
                            <input type="radio" name="template" value="default3" required="required"/>
                            <div class="def3 pp">
                                <span>DEFAULT 3</span>
                            </div>
                        </label>
                        <!--
                        <label>
                            <input type="radio" name="template" value="default4" required="required"/>
                            <div class="def4 pp">
                                <span>DEFAULT 4</span>
                            </div>
                        </label>-->
                        
                    </div>
                    
                    <div id="main"> 
                        <a id="previousBtn"><i class="fas fa-angle-left"></i> <span>Previous</span></a>
                        <input id="finishBtn" type="submit" value="Finish"></input>
                        <a id="nextBtn"><span>Next</span> <i class="fas fa-angle-right"></i></a>
                    </div>
            </form>
        </div>
    </div>
    </div>
        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>