<%- include("../partials/userheader") %>

    <div class="content">
        <div class="about-heading">
            <h1><i class="fas fa-crown"></i> Membership</h1>
            <p>
                Membership have many function more than general user got! <br>
                You can get more special benefit for special guest. <br><br>

                <table>
                    <tr>
                        <th>BENEFIT</th>
                        <th><i class="fas fa-user"></i> GENERAL USER</th>
                        <th><i class="fas fa-crown"></i> MEMBERSHIP</th>
                    </tr>
                    <tr>
                        <td>UNLIMITED PROJECT</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>UPLOAD PICTURE MAXIMUM 5</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                </table>

                Check it here below <i class="fas fa-chevron-down"></i>
            </p>

            <% if(locals.user.status != 'member') { %>
                <form action="/portfolio//changetomember/<%= user._id %>" method="POST">
                    <button type="submit" id="statusbtn"><i class="fas fa-crown"></i> To be Membership</button>
                </form>
            <% } %>

            <% if(locals.user.status == 'member') { %>
                <form action="/portfolio/changetouser/<%= user._id %>" method="POST">
                    <button type="submit" id="statusbtn"><i class="fas fa-user"></i> To be General user</button>
                </form>
            <% } %>

        </div>
    </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>