<%- include("../partials/userheader") %>
        <div class="content">
            <div class="form">
                <div class="profile-heading">
                    <br><br>
                    <h1>MY PROFILE</h1> 
                    <img src="https://cdn0.iconfinder.com/data/icons/professional-avatar-5/48/manager_male_avatar_men_character_professions-512.png" alt="Avatar">
                    <br> <br> <br>
                    <table class="table-input">
                        <tr>
                            <th><input type="file" id="myFile" name="filename"></th>
                            <td><input type="submit" id="submitBtn"></td>
                        </tr>
                    </table>
                    
                    <br>
                    
                    <table class="my-profile">
                        <tr>
                            <th>Name</th>
                            <td style="text-transform: uppercase;"><span id="pf-first"><%= currentUser.firstname %></span>&nbsp;&nbsp;<span id="pf-last"><%= currentUser.lastname %></span></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td id="pf-status" style="text-transform: uppercase;"><% if(locals.user.status == 'membership') { %> <i class="fas fa-crown"></i> <% } %><% if(locals.user.status != 'membership') { %> <i class="fas fa-user"></i> <% } %>&nbsp;&nbsp;<%= currentUser.status %></td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td id="pf-username" style="text-transform: uppercase;"><%= currentUser.username %></td>
                        </tr>
                        <tr>
                            <th>Email address</th>
                            <td id="pf-email" style="text-transform: uppercase;"><%= currentUser.email %></td>
                        </tr>
                    </table><br><br>
                    
                    <a href="/portfolio/membership"><% if(locals.user.status != 'membership') { %> <i class="fas fa-crown"></i> To be Membership<% } %><% if(locals.user.status == 'membership') { %> <i class="fas fa-user"></i> To be General User<% } %></a>
                    <a href="/portfolio/setting"><i class="fas fa-edit"></i>  Edit you profile</a>
                    
                    <br><br><br>
                </div>
            </div>
        </div>
        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>