<%- include("../partials/userheader") %>
        <div class="content">
            <div class="form">
                <div class="settingform">
                        <table>
                            <h1>SETTING</h1> <br>
                            <tr>
                                <th>Firstname</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Firstname" value="<%= currentUser.firstname %>">
                                 </td>
                            </tr> 
                            <tr>
                                <th>Lastname</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Lastname" value="<%= currentUser.lastname %>">
                                 </td>
                            </tr> 
                            <tr>
                                <th>Username</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Username" value="<%= currentUser.username %>">
                                 </td>
                            </tr> 
                            <tr>
                                <th>Email</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Email" value="<%= currentUser.email %>">
                                </td>
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td class="form-box">
                                    <input type="text" placeholder="new password" value="<%= currentUser.password %>">
                                </td>
                            </tr>
                        </table> 
                        <div class="footer-form">
                            <a href="/portfolio/edit-profile" class="btn-setting">SAVE CHANGE</a>
                            <a href="/portfolio/edit-profile" class="btn-setting">CANCEL</a>
                        </div>
                </div>
            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>