<%- include("../partials/userheader") %>
        <div class="content">
            <div class="form">
                <div class="settingform">
                    <form action="/portfolio/edit-profile/<%= user._id %>" method="POST">
                        <table>
                            <h1>SETTING</h1> <br>
                            <tr>
                                <th>Firstname</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Firstname"  name="firstname" value="<%= currentUser.firstname %>">
                                 </td>
                            </tr> 
                            <tr>
                                <th>Lastname</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Lastname"  name="lastname" value="<%= currentUser.lastname %>">
                                 </td>
                            </tr> 
                            <tr>
                                <th>Username</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Username"  name="username" value="<%= currentUser.username %>">
                                 </td>
                            </tr> 
                            <tr>
                                <th>Email</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Email"  name="email" value="<%= currentUser.email %>">
                                </td>
                            </tr>
                        </table> 
                        
                        
                        <div class="footer-form">
                            <a href="/portfolio/profile" class="btn-setting">SEE PROFILE</a>
                            <a href="#" class="btn-setting">
                                <button type="submit" style="background: transparent; border-color: transparent;">SAVE CHANGE</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>